<%- include('partials/header.ejs') %>
<body id="fullblog" class="d-flex flex-column min-vh-100"> 
    <div class="mx-4 my-2">
        <h1 class="fs-1 text-body-emphasis fw-bold border-bottom py-3"><%= title %></h1>
        <p class="fs-4 ">
            <%= blogText %>
        </p>
    </div>
</body>
<%- include('partials/footer.ejs') %>
